@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    --violet: hsl(257, 40%, 49%);
    --magenta: hsl(300, 69%, 71%);
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    min-width: 21.25rem;
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-color: var(--violet);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
}

.flex-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 2.25rem;
}

.logo {
    width: 40%;
    margin-bottom: 4.3125rem;
    margin-top: 0;
}

.hero-image {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.text {
    text-align: center;
}

.heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-bottom: 1rem;
}

.description-text {
    line-height: 1.5rem;
    margin-bottom: 2.1875rem;
}

.button {
    width: 19rem;
    height: 7.5rem;
    padding: 0.6875rem 4.75rem;
    background-color: var(--white);
    border-radius: 1.25rem;
    margin-bottom: 4rem;
}

.button:hover {
    background-color: var(--magenta);
    color: var(--white);
    transition: all 150ms ease-in;
}

.socials {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    margin-top: 4.6875rem;
    gap: 0.6875rem;
}

i.fa-brands {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.75rem;
    height: 1.75rem;
    border: 1px solid var(--white);
    border-radius: 50%;
}

i.fa-brands:hover {
    color: var(--magenta);
    border-color: var(--magenta);
    cursor: pointer;
    transition: all 150ms ease-in;
}

@media screen and (min-width: 1024px) {
    body {
        background-image: url(./images/bg-desktop.svg);
        background-position: top left -6.25rem;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .flex-container {
        padding: 3rem 5rem;
    }

    .hero {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .hero-image {
        display: flex;
        justify-content: flex-start;
        width: 62%;
        margin-bottom: 1.25rem;
    }

    .hero-image img {
        width: 90%;
    }

    .text {
        display: flex;
        flex-direction: column;
        text-align: start;
        width: 38%;
        transform: translateY(-5rem);
        /* margin-left: 59px; */
    }

    .button {
        width: 12.5rem;
        height: 3.5rem;
        padding: 0.9375rem 63px;
        background-color: var(--white);
        border-radius: 1.75rem;
        margin-bottom: 0rem;
    }

    a.button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.125rem;
    }

    .socials {
        display: flex;
        justify-content: flex-end;
        text-align: center;
        margin-top: 0px;
        gap: 0.6875rem;
    }

    i.fa-brands {
        display: flex;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media screen and (min-width: 1350px) {
    .heading {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        line-height: 3.75rem;
    }

    .description-text {
        font-size: 1.125rem;
        line-height: 1.6875rem;
    }
}